#illustration-wrapper
  #illustration
    #artwork
    a#video(href="javascript:window.$muzik.showClip();", title="View clip (v)")
      include icons/video
    #youtube-player
    iframe#soundcloud-player(
      scrolling="no",
      frameborder="no",
      width="100%",
      allow="autoplay"
    )
    #dz-root
