#controls 
  a#previous.disabled(
    href="javascript:window.$muzik.previous();",
    title="previous (b)"
  )
    include icons/previous
  a#play(href="javascript:window.$muzik.play();", title="play (space)")
    include icons/play
  a#pause.hide(href="javascript:window.$muzik.pause();", title="pause (space)")
    include icons/pause
  a#next(href="javascript:window.$muzik.next(true);", title="next (n)")
    include icons/next
