html,
body {
  @apply h-full bg-blue-200 overflow-hidden;
  margin: 0;
  padding: 0;
}

.bg {
  @apply border rounded-lg shadow-xl;
  background-color: rgba(255, 255, 255, 0.4);
}

.bg-black {
  @apply text-white;
  background-color: rgba(0, 0, 0, 0.4);
}

h1 {
  @apply text-center text-3xl pt-8 font-bold text-white absolute w-full z-10;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #666;
  text-shadow: #666 2px 2px 5px;
}

#infos {
  @apply fixed bottom-5 right-5 text-xs px-2 py-1 rounded-lg z-30;
  &:extend(.bg);
  &:extend(.bg-black);
}

@import './_background.less';
@import './_player.less';
