@tailwind base;

:root {
  --muzik-track-color: #cbd5e1;
  --muzik-thumb-color: #f1f5f9;
  --muzik-thumb-color-hover: #64748b;
}

html,
body {
  @apply h-full overflow-hidden;
  margin: 0;
  padding: 0;
}

body {
  @apply bg-slate-600 transition-all duration-300;
}

.hide {
  display: none !important;
}

#app {
  @apply h-full w-full flex items-start justify-center mt-4;
}

@screen md {
  #app {
    @apply items-center mt-0;
  }
}

#help {
  @apply w-8 h-8 absolute left-1 bottom-1 text-slate-800 mix-blend-difference;

  &:hover {
    @apply text-slate-400;
  }
}

@import "./_inputRange.less";
@import "./_player.less";
@import "./_illustration.less";
@import "./_timeline.less";
@import "./_controls.less";
@import "./_utils.less";
@import "./_playlist.less";
