a#help(
  href="https://github.com/gouz/muzik#keyboard-shortcuts",
  target="_blank",
  rel="noopener",
  title="help"
)
  include pug/icons/help
#app
  #player
    include pug/artwork
    #title.over
      span
    #artist.over
      span
    include pug/timeline
    include pug/controls
    include pug/utils
    include pug/playlist
