doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title MuziK
    link(
      rel="icon",
      type="image/svg+xml",
      href="./5340260_audio_joox_media_music_social_icon.svg"
    )
  body
    #wrapper
      h1
    script(src="main.js", type="module")
    script.
      function onYouTubeIframeAPIReady() {
        window.player = new YT.Player('player', {
          videoId: window.code,
          events: {
            onReady: window.onPlayerReady,
            onStateChange: window.onPlayerStateChange,
          },
        });
      }
